numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
joblib
nltk
lightgbm
imblearn
wordcloud

mlflow
dvc
dagshub

Flask
flask-cors
flask_app
waitress

fsspec
s3fs
gcsfs
adlfs

python-dotenv
requests
tqdm

-e .